<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="database"
            xsi:type="Database"
            connectionString="NLog"
            commandType="StoredProcedure"
            commandText="[dbo].[NLog_AddEntry_p]">

      <parameter name="@LogLevel"       layout="${logLevel}" />
      <parameter name="@Exception"      layout="${exception:tostring}" />
      <parameter name="@Message"        layout="${message}" />
      <parameter name="@Stacktrace"     layout="${stacktrace}"/>
      <parameter name="@Type"           layout="${type}" />
    </target>
  </targets>
  <rules>
    <logger name="database" minlevel="Info" writeTo="database"/>
  </rules>
</nlog>
